.App {
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  text-align: left;
  padding-left: 10px;
  background-color: #1C365A;
  height: 50px;
  color: white;

}

.App-header > h1 {
  margin: unset;
  font-weight: 500;
}

.App-body {
  background-color: #d9dde2;
  height: 100vh;
}

.App-body .tabpanel {
  padding: 0 40px; 
  color: #484b50;
  
}

.App-body .tabpanel h2 {
  font-weight: 500;
}

.tabpanel form > div {
  margin-bottom: 30px;
}

.addplayer-form {
  background-color: #ffffff;
  border: 1px dotted #525353;
  border-radius: 10px;
  padding: 10px 30px;
}

.action-row {
  margin-top: 20px;
  text-align: center;
}

.players-list {
  border-top: 2px solid #1C365A;
  margin-top: 20px;
  padding: 15px 0;
}

.players-list > div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 40px;
}

.players-list > div > .sl {
  flex-basis: 20px;
}
.players-list > div > .name {
  flex-basis: 300px;
}

.players-list > div > .height {
  flex-basis: 120px;
}

.players-list > div > .position {
  display: flex;
  justify-content: flex-start;
}
.players-list > div > .position > div {
  margin-right: 10px;
}

.quarter-box {
  margin: 20px 0;
  border: 1px solid #c0c2c5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
}

.quarter-box > div {
  display: flex;
  height: 60px;
  margin-bottom: 20px;
}

.quarter-box > div > div:first-child {
  flex-basis: 200px;
  vertical-align: middle;
}

.error {
  color: red;
  font-style: italic;
}
